@import url('reset.css');
* {
  list-style: none;
  padding: 0;
  margin: 0;
}
.full {
  width: 100%;
  height: 100%;
}
html,
body,
.warp {
  width: 100%;
  height: 100%;
}
.warp {
  display: -webkit-box;
  -webkit-box-orient: vertical;
}
.select {
  display: none;
  position: absolute;
  left: 0;
  top: 44px;
  width: 135px;
  height: 300px;
  background: #333333;
  z-index: 999;
  overflow: hidden;
}
.select li {
  margin-left: 8px;
  line-height: 35px;
  list-style: none;
}
.select li a {
  color: white;
  font-size: 20px;
}
.header {
  text-align: center;
  -webkit-box-align: center ;
  display: -webkit-box;
  -webkit-box-orient: horizontal;
  width: 100%;
  height: 44px;
  background: #000000;
  margin: 0 auto;
  position: relative;
}
.header p {
  width: 24px;
  height: 24px;
  background: null;
  margin-left: 12px;
  background: url(../img/icon.png) 0 0 no-repeat;
  top: 10px;
}
.header p:hover {
  cursor: pointer;
  background: url(../img/icon.png) -50px 0px no-repeat;
}
.header h1 {
  margin-left: 60px;
  -webkit-box-flex: 1;
}
.header h1 a {
  display: inline-block;
  color: white;
  font-size: 20px;
}
.header .ul1 {
  text-align: center;
  -webkit-box-align: center ;
  display: -webkit-box;
  -webkit-box-orient: horizontal;
  width: 152px;
  height: 34px;
  background: null;
}
.header .ul1 li {
  -webkit-box-flex: 1;
  width: 24px;
  height: 24px;
  background: null;
}
.header .ul1 li a {
  width: 24px;
  height: 24px;
  background: null;
}
.header .ul1 .li1 a {
  display: inline-block;
  background: url(../img/icon.png) -100px 0 no-repeat;
}
.header .ul1 .li1 a:hover {
  background: url(../img/icon.png) -150px 0 no-repeat;
}
.header .ul1 .li2 a {
  display: inline-block;
  background: url(../img/icon.png) 0 -100px no-repeat;
}
.header .ul1 .li2 a:hover {
  background: url(../img/icon.png) -50px -100px no-repeat;
}
.header .ul1 .li3 a {
  display: inline-block;
  background: url(../img/icon.png) -100px -100px no-repeat;
}
.header .ul1 .li3 a:hover {
  background: url(../img/icon.png) -150px -100px no-repeat;
}
.name {
  width: 100%;
  height: 80px;
  background: null;
  border-bottom: 3px solid #666;
}
.name ul {
  display: -webkit-box;
  -webkit-box-orient: horizontal;
  -webkit-box-align: center;
  text-align: center;
}
.name ul li {
  font-size: 25px;
  font-family: "΢���ź�";
  -webkit-box-flex: 1;
  line-height: 75px;
}
.name li:hover {
  color: yellow;
  border-bottom: 5px solid #666;
}
.kind {
  display: none;
  width: 100%;
  height: null;
  background: null;
}
.kind.active {
  display: block;
}
.kind img:hover {
  opacity: 0.7;
}
.kind .nv {
  width: 100%;
  height: null;
  background: null;
}
.kind .nv .nv1 {
  display: -webkit-box;
  -webkit-box-orient: horizontal;
  -webkit-box-align: center;
  text-align: center;
  width: 100%;
  height: null;
  background: null;
}
.kind .nv .nv1 .tu {
  width: 22%;
  height: null;
  background: null;
  -webkit-box-flex: 1;
}
.kind .nv .nv1 .tu img {
  width: 85%;
  height: 75%;
  border: 1px solid gainsboro;
}
.kind .nv .nv1 .tu p {
  font-size: 12px;
  color: grey;
}
.kind .nv .nv2 {
  display: -webkit-box;
  -webkit-box-orient: horizontal;
  -webkit-box-align: center;
  text-align: center;
  width: 100%;
  height: null;
  background: null;
}
.kind .nv .nv2 .tu {
  width: 22%;
  height: null;
  background: null;
  -webkit-box-flex: 1;
}
.kind .nv .nv2 .tu img {
  width: 85%;
  height: 75%;
  border: 1px solid gainsboro;
}
.kind .nv .nv2 .tu p {
  font-size: 12px;
  color: grey;
}
.kind .nan {
  width: 100%;
  height: null;
  background: null;
}
.kind .nan .nan1 {
  display: -webkit-box;
  -webkit-box-orient: horizontal;
  -webkit-box-align: center;
  text-align: center;
  width: 100%;
  height: null;
  background: null;
}
.kind .nan .nan1 .tu {
  width: 22%;
  height: null;
  background: null;
  -webkit-box-flex: 1;
}
.kind .nan .nan1 .tu img {
  width: 85%;
  height: 75%;
  border: 1px solid gainsboro;
}
.kind .nan .nan1 .tu p {
  font-size: 12px;
  color: grey;
}
.kind .nan .nan2 {
  display: -webkit-box;
  -webkit-box-orient: horizontal;
  -webkit-box-align: center;
  text-align: center;
  width: 100%;
  height: null;
  background: null;
}
.kind .nan .nan2 .tu {
  width: 22%;
  height: null;
  background: null;
  -webkit-box-flex: 1;
}
.kind .nan .nan2 .tu img {
  width: 85%;
  height: 75%;
  border: 1px solid gainsboro;
}
.kind .nan .nan2 .tu p {
  font-size: 12px;
  color: grey;
}
.kind .yun {
  width: 100%;
  height: null;
  background: null;
}
.kind .yun .yun1 {
  display: -webkit-box;
  -webkit-box-orient: horizontal;
  -webkit-box-align: center;
  text-align: center;
  width: 100%;
  height: null;
  background: null;
}
.kind .yun .yun1 .tu {
  width: 22%;
  height: null;
  background: null;
  -webkit-box-flex: 1;
}
.kind .yun .yun1 .tu img {
  width: 85%;
  height: 75%;
  border: 1px solid gainsboro;
}
.kind .yun .yun1 .tu p {
  font-size: 12px;
  color: grey;
}
.kind .yun .yun2 {
  display: -webkit-box;
  -webkit-box-orient: horizontal;
  -webkit-box-align: center;
  text-align: center;
  width: 100%;
  height: null;
  background: null;
}
.kind .yun .yun2 .tu {
  width: 22%;
  height: null;
  background: null;
  -webkit-box-flex: 1;
}
.kind .yun .yun2 .tu img {
  width: 85%;
  height: 75%;
  border: 1px solid gainsboro;
}
.kind .yun .yun2 .tu p {
  font-size: 12px;
  color: grey;
}
.kind .xie {
  width: 100%;
  height: null;
  background: null;
}
.kind .xie .xie1 {
  display: -webkit-box;
  -webkit-box-orient: horizontal;
  -webkit-box-align: center;
  text-align: center;
  width: 100%;
  height: null;
  background: null;
}
.kind .xie .xie1 .tu {
  width: 22%;
  height: null;
  background: null;
  -webkit-box-flex: 1;
}
.kind .xie .xie1 .tu img {
  width: 85%;
  height: 75%;
  border: 1px solid gainsboro;
}
.kind .xie .xie1 .tu p {
  font-size: 12px;
  color: grey;
}
.kind .xie .xie2 {
  display: -webkit-box;
  -webkit-box-orient: horizontal;
  -webkit-box-align: center;
  text-align: center;
  width: 100%;
  height: null;
  background: null;
}
.kind .xie .xie2 .tu {
  width: 22%;
  height: null;
  background: null;
  -webkit-box-flex: 1;
}
.kind .xie .xie2 .tu img {
  width: 85%;
  height: 75%;
  border: 1px solid gainsboro;
}
.kind .xie .xie2 .tu p {
  font-size: 12px;
  color: grey;
}
.kind .xiang {
  width: 100%;
  height: null;
  background: null;
}
.kind .xiang .xiang1 {
  display: -webkit-box;
  -webkit-box-orient: horizontal;
  -webkit-box-align: center;
  text-align: center;
  width: 100%;
  height: null;
  background: null;
}
.kind .xiang .xiang1 .tu {
  width: 22%;
  height: null;
  background: null;
  -webkit-box-flex: 1;
}
.kind .xiang .xiang1 .tu img {
  width: 85%;
  height: 75%;
  border: 1px solid gainsboro;
}
.kind .xiang .xiang1 .tu p {
  font-size: 12px;
  color: grey;
}
.kind .xiang .xiang2 {
  display: -webkit-box;
  -webkit-box-orient: horizontal;
  -webkit-box-align: center;
  text-align: center;
  width: 100%;
  height: null;
  background: null;
}
.kind .xiang .xiang2 .tu {
  width: 22%;
  height: null;
  background: null;
  -webkit-box-flex: 1;
}
.kind .xiang .xiang2 .tu img {
  width: 85%;
  height: 75%;
  border: 1px solid gainsboro;
}
.kind .xiang .xiang2 .tu p {
  font-size: 12px;
  color: grey;
}
