@import url('reset.css');
.full {
  width: 100%;
  height: 100%;
}
html,
body,
.warp {
  overflow-y: auto;
  width: 100%;
  height: 100%;
  position: relative;
}
.warp {
  display: -webkit-box;
  -webkit-box-orient: vertical;
}
.header {
  text-align: center;
  -webkit-box-align: center ;
  display: -webkit-box;
  -webkit-box-orient: horizontal;
  width: 100%;
  height: 44px;
  background: #000000;
  margin: 0 auto;
  position: relative;
}
.header p {
  width: 24px;
  height: 24px;
  background: null;
  margin-left: 12px;
  background: url(../img/icon.png) 0 0 no-repeat;
  top: 10px;
}
.header p:hover {
  cursor: pointer;
  background: url(../img/icon.png) -50px 0px no-repeat;
}
.header h1 {
  margin-left: 60px;
  -webkit-box-flex: 1;
}
.header h1 a {
  display: inline-block;
  width: 35px;
  height: 35px;
  background: null;
  background: url(../img/icon.png) -100px -450px no-repeat;
}
.header .ul1 {
  text-align: center;
  -webkit-box-align: center ;
  display: -webkit-box;
  -webkit-box-orient: horizontal;
  width: 152px;
  height: 34px;
  background: null;
}
.header .ul1 li {
  -webkit-box-flex: 1;
  width: 24px;
  height: 24px;
  background: null;
}
.header .ul1 li a {
  width: 24px;
  height: 24px;
  background: null;
}
.header .ul1 .li1 a {
  display: inline-block;
  background: url(../img/icon.png) -100px 0 no-repeat;
}
.header .ul1 .li1 a:hover {
  background: url(../img/icon.png) -150px 0 no-repeat;
}
.header .ul1 .li2 a {
  display: inline-block;
  background: url(../img/icon.png) 0 -100px no-repeat;
}
.header .ul1 .li2 a:hover {
  background: url(../img/icon.png) -50px -100px no-repeat;
}
.header .ul1 .li3 a {
  display: inline-block;
  background: url(../img/icon.png) -100px -100px no-repeat;
}
.header .ul1 .li3 a:hover {
  background: url(../img/icon.png) -150px -100px no-repeat;
}
.select {
  display: none;
  position: absolute;
  left: 0;
  top: 44px;
  width: 135px;
  height: 300px;
  background: #333333;
  z-index: 999;
  overflow: hidden;
}
.select li {
  margin-left: 8px;
  line-height: 35px;
  list-style: none;
}
.select li a {
  color: white;
  font-size: 20px;
}
.banner {
  margin: 0 auto;
  text-align: center;
  width: 100%;
  height: 150px;
  background: null;
}
.banner p {
  font-size: 16px;
}
.a2 {
  width: 100%;
  height: 550px;
  background: null;
  margin-top: 60px;
  border-top: 5px solid gainsboro;
}
.a2 .one {
  width: 100%;
  height: 55px;
  background: null;
  display: -webkit-box;
  -webkit-box-orient: horizontal;
  -webkit-box-align: center;
  text-align: center;
}
.a2 .one p {
  -webkit-box-flex: 1;
  font-size: 20px;
}
.a2 .one p:hover {
  color: tomato;
}
.a2 .two {
  width: 100%;
  height: 50px;
  background: null;
  border-top: 5px solid gainsboro;
}
.a2 .two ul {
  display: -webkit-box;
  -webkit-box-orient: horizontal;
  -webkit-box-align: center;
  text-align: center;
}
.a2 .two ul li {
  -webkit-box-flex: 1;
  margin-left: 70px;
}
.a2 .two ul li .a {
  width: 35px;
  height: 35px;
  background: url(../img/icon.png) no-repeat 0px -650px;
}
.a2 .two ul li .a:hover {
  transition: 0.5s;
  background-image: url("../img/icon.png");
  background-position: -50px -650px;
}
.a2 .two ul li .b {
  width: 35px;
  height: 35px;
  background: url(../img/icon.png) no-repeat -100px -650px;
}
.a2 .two ul li .b:hover {
  transition: 0.5s;
  background-image: url("../img/icon.png");
  background-position: -150px -650px;
}
.a2 .two ul li .c {
  width: 35px;
  height: 35px;
  background: url(../img/icon.png) no-repeat 0px -700px;
}
.a2 .two ul li .c:hover {
  transition: 0.5s;
  background-image: url("../img/icon.png");
  background-position: -50px -700px;
}
.a2 .two ul li .d {
  width: 35px;
  height: 35px;
  background: url(../img/icon.png) no-repeat -100px -700px;
}
.a2 .two ul li .d:hover {
  transition: 0.5s;
  background-image: url("../img/icon.png");
  background-position: -150px -700px;
}
.a2 .two ul li .e {
  width: 35px;
  height: 35px;
  background: url(../img/icon.png) no-repeat 0px -750px;
}
.a2 .two ul li .e:hover {
  transition: 0.5s;
  background-image: url("../img/icon.png");
  background-position: -50px -750px;
}
.a2 .two ul li .f {
  width: 35px;
  height: 35px;
  background: url(../img/icon.png) no-repeat -100px -750px;
}
.a2 .two ul li .f:hover {
  transition: 0.5s;
  background-image: url("../img/icon.png");
  background-position: -150px -750px;
}
.a2 .three {
  width: 100%;
  height: 55px;
  background: null;
  border-top: 5px solid gainsboro;
  display: -webkit-box;
  -webkit-box-orient: horizontal;
  -webkit-box-align: center;
  text-align: center;
}
.a2 .three p {
  -webkit-box-flex: 1;
  font-size: 18px;
  color: #666;
}
.a2 .three p:hover {
  color: tomato;
}
.a2 .three:hover {
  background: #CCCCCC;
  opacity: 0.6;
}
.a2 .three:hover p {
  color: tomato;
}
.a2 .four {
  width: 100%;
  height: 55px;
  background: null;
  border-top: 5px solid gainsboro;
  display: -webkit-box;
  -webkit-box-orient: horizontal;
  -webkit-box-align: center;
  text-align: center;
}
.a2 .four p {
  -webkit-box-flex: 1;
  font-size: 18px;
  color: #666;
}
.a2 .four p:hover {
  color: tomato;
}
.a2 .four:hover {
  background: #CCCCCC;
  opacity: 0.6;
}
.a2 .four:hover p {
  color: tomato;
}
.a2 .five {
  width: 100%;
  height: 55px;
  background: null;
  border-top: 5px solid gainsboro;
  display: -webkit-box;
  -webkit-box-orient: horizontal;
  -webkit-box-align: center;
  text-align: center;
}
.a2 .five p {
  -webkit-box-flex: 1;
  font-size: 18px;
  color: #666;
}
.a2 .five p:hover {
  color: tomato;
}
.a2 .five:hover {
  background: #CCCCCC;
  opacity: 0.6;
}
.a2 .five:hover p {
  color: tomato;
}
.a2 .six {
  width: 100%;
  height: 55px;
  background: null;
  border-top: 5px solid gainsboro;
  display: -webkit-box;
  -webkit-box-orient: horizontal;
  -webkit-box-align: center;
  text-align: center;
}
.a2 .six p {
  -webkit-box-flex: 1;
  font-size: 18px;
  color: #666;
}
.a2 .six p:hover {
  color: tomato;
}
.a2 .six:hover {
  background: #CCCCCC;
  opacity: 0.6;
}
.a2 .six:hover p {
  color: tomato;
}
.a2 .seven {
  width: 100%;
  height: 55px;
  background: null;
  border-top: 5px solid gainsboro;
  display: -webkit-box;
  -webkit-box-orient: horizontal;
  -webkit-box-align: center;
  text-align: center;
}
.a2 .seven p {
  -webkit-box-flex: 1;
  font-size: 18px;
  color: #666;
}
.a2 .seven p:hover {
  color: tomato;
}
.a2 .seven:hover {
  background: #CCCCCC;
  opacity: 0.6;
}
.a2 .seven:hover p {
  color: tomato;
}
